language: python
sudo: false

python:
  - 3.5
  - &mainstream_python 3.6

addons:
  apt:
    packages:
      - libenchant-dev

env:
  global:
    - FLIT_USERNAME=andrew.svetlov
    - secure: "ToILhFXCyk9jCpCCDT9FPLmKU5lXtQ9IfcPTNYmjgvanSGGwedilajeNvHr3jnz3rwNjpsPEwnBzg1kqtNiMpwSkhersZYUcH7ojLDb7JKlRXFJgxumeKef60JzRukiWh/hTJTFuybfEAOVF/HywaVe6r2pe8NoNZKo8mpjnFA6irB/qEXDbmo8sFt9ybZvJYJ0Ck06I64RRnrIVxUmRAk5qoBgPhJifYOtjh49M863aB7N2az5U0v31pdV/v9VLkIMEkwA7NTskXzQ5fAqr91DUm8eKbe9GPyzNnJG9eq9z42oXr9tw1WrAGrPPgpyt9Y+kmPM/qtT8YELPwAoHXs0yKxHRXhpvWZbXZ8jnR7JmCdvKJalJOelSjtA/aiadtXjgzyaY7s/A+ApcS6ItyCz5AmEnSZfcSn9JcX5D51N6Ldm1mmJ5W6a0EmGpg4CJ1kQzMqUcTcEBaubJRWC8FOtxWWWbeZkiZ6b7W5vpHGSQTRw+JXGDjRWnj8g78wPfDqqnB8qh67VMjWI4hFeT+R/kZi8DJIcxUFRf5WnFfj4hckIzGiLYqI1I0CRHU+/9y2NdC7sbQPFpQkYctMF4vy9qxifWLCGDrHLMq6rIQilB72Jl0Jb/29sM17WwB7go9Uz14GFxADBB3Kdk8sABK8mcCjRxF2TYrPlnvoEycek="  # FLIT_PASSWORD
    - secure: "CeS69BAF3r49ud49prWUn5QgXlJEBgXHP1jJ03Q334U6i/pO39DKgg76FhCxgjGeR5dBfNKOl50RBLWtCbhWa2uwNx87S5Vaj4wyqb4hBiMb5Z6kFU4S1PN9Wy1GGYQdJJGZOywNnUgx2bNicYmISHHoX89FY2sks1q+rAml298RPAX2lPzIviT8GuzvvAdihubHCkMF61kUQkmdKGlV+jagV+pHc7d5Vf591VzJVXjZ8yQYk2zlb87biAJM8QTwtoAyzXGRYIxc6VlmnT04T42b2Aa97L2h1lTCrL27kdNc2Zktx8JIzmgv2O5pYFARKsrePh6eU/UJd/RRxtpE0FEQwHqNeHckLjXzVPVmX8hbu5jnSqLKwPK/tAG1J7RO0cRyFNNspEZS9V+AdKrnwOrUQ0BV8jt46kDesFHMZnuRZ2S2JGAQNEaumlVEIsEorCGTFmWfATXnhKQayYQ6A4iiH4tVxvFS82bA4ZGuz0KGu13WyOa1U9jpRca7peLJPV+C6HlLDYwSlyz+m/KtNlEcdaxbgT484ZtYWheIpiuS3I8IDY8iM0aj50IcpBGZ8c7HzEW6z2ybrFMNWOfNoPOHZmRBOKLAh9KEO2C+JWIB14RSj0nW+TJHe0Cb5lkHArB5wDmfT5SoZbSLUgZUFvOkWY5oUMOTDmWr62xqA3g="  # PYPI_PASSWD



install:
  - travis_retry pip install codecov
  - travis_retry pip install -r requirements/ci.txt
  - flit install --symlink
script:
  - make test
  - codecov

_helpers:
- &_mainstream_python_base
  python: *mainstream_python
- &_reset_steps
  env: []
  before_install: skip
  install: skip
  script: skip
  after_success: []

jobs:
  include:
  - stage: lint
    <<: *_mainstream_python_base
    <<: *_reset_steps
    install:
      - travis_retry pip install -r requirements/lint.txt
      - flit install --symlink
    script:
      - make flake
  - stage: deploy
    if: tag IS present
    <<: *_mainstream_python_base
    <<: *_reset_steps
    install:
      - travis_retry pip install -r requirements/ci.txt
    script:
      - flit build
      - twine upload -u andrew.svetlov -p ${PYPI_PASSWD} dist/aiohttp?remotes*

stages:
  - name: lint
  - name: test
  - name: deploy
    # This will prevent deploy unless it's a tagged commit:
    if: tag IS present

cache: pip
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log
